<% include header %>


        
<header class="Header"><h1>Contact details</h1></header>
<div class="container">
        
<a href="https://www.facebook.com/hyndavi.musipatla" ><img width="55" height="35" src="fb.jpg" alt="facebook"> </a>
<a href="https://www.linkedin.com/in/musipatla-hyndavi-7bb144121/"><img width="55" height="35" src="in.jpg" alt="linkedin"></a>
<a href="https://github.com/HyndaviReddy"><img width="55" height="35" src="git.jpg" alt="facebook"></a>
<a href="https://bitbucket.org/HyndaviMusipatla"><img width="55" height="35" src="bit.jpg" alt="facebook"></a>
<a href="https://www.instagram.com/hyndavi_reddy/?hl=en"><img width="55" height="35" src="insta.jpg" alt="instagram"></a>
</ul>

        <div class="row">
            <div class="col-md-12">
          
            </div>
        </div>
        <div class="row">
           <div class="col-md-3">
        </div>
        <form class="col-md-6" action="response.html">
        <div class="form-group">
        <label for="First">Firstname:</label>
        <input type="name" class="form-control" id="firstname">
          </div>
          <div class="form-group">
            <label for="Last">Lastname:</label>
            <input type="name" class="form-control" id="lastname">
          </div>
          <div class="form-group">
                <label for="Phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone">
              </div>
        <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email1">
        </div>
        <div class="form-group">
        <label for="Query:">Query:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
         
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="col-md-3 nav">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<% include header %>