<% include header %>

<html lang="en">
    
        <link rel="stylesheet" type="text/css" href="/Hyndavi.css">
    <body>
<header>
    <h3><strong>04 - HYNDAVI MUSIPATLA</strong></h3>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7" >
                <h3><em>ABOUT ME:</em></h3>
                <section>
                    <h4>Current Details</h4>
                    <p>I'm a new International student at NorthWest Missouri State University to pursue masters in
                        Applied Computer Science.</p>
                </section>
                <section>
                    <h4 id="past-section">Place and Undergraduation</h4>
                    <p>I'm from Karimnagar,India. I have completed by Undergraduation in the stream of Computer
                        Science and Engineering.</p>
                </section>
                <section>
                    <h4 id="future-section">Career Plans</h4>
                    <p>I would like to work as a Full-Stack developer in one of the top Mnc's like
                        Google,IBM,etc..,</p>
                </section>
                <section>
                    <h4 class="section-header">Schedule</h4>
                    <ul>
                        <li>Subject : Object-Oriented Programming - Days: TR, Sec: 5, Timings: 2:00PM, Instructor:
                            Ajay Bandi </li>
                        <li>Subject : Developing Web Apps&Services - Days: MW, Sec: 4, Timings: 12:00PM,
                            Instructor: Denise Case</li>
                        <li>Subject : Advance Topics In DB Systems - Days: MWF, Sec: 1, Timings: 11:AM, Instructor:
                            Douglas Hawley</li>
                    </ul>
                </section>
                <h4 class="aside-header">INTERESTS:</h4>
                <p>Iam very passionate about learning new things and exploring world!</p>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5 col-lg-5">

                <img class="rounded-circle" width="250" height="230" src="hyndu.jpg" alt="Smiley face">
                <iframe class="vid" width="380" height="260" src="https://youtube.com/embed/-TVHyhQUwlI"></iframe>
            </div>
        </div>
    </div>

</article>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<footer>
    <p>Thank you!!</p>
    <p>Contact Info:"S533626@nwmissouri.edu"</p>
</footer>

